@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-surface-dark: #1c2127;
  --color-border-dark: #283039;
  
  --font-display: "Inter", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white font-display;
  }
}

/* Custom Scrollbar from design */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #101922; 
}
::-webkit-scrollbar-thumb {
    background: #283039; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #374151; 
}

.dot-pattern {
    background-image: radial-gradient(#374151 1px, transparent 1px);
    background-size: 24px 24px;
}

.material-symbols-filled {
    font-variation-settings: 'FILL' 1;
}
